# Ignore the Go build artifacts
/build/
*.out
*.exe

# Ignore dependency directory (if using vendoring)
vendor/

# Ignore Git files and directories
.git/
.gitignore
.github/

# Ignore IDE/editor-specific files
*.DS_Store
.idea/
.vscode/

# Ignore test and temporary files
*.log
*.tmp
